@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraProLight.eot");
  src: url("../fonts/CeraProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraProLight.woff") format("woff"), url("../fonts/CeraProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraProRegular.eot");
  src: url("../fonts/CeraProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraProRegular.woff") format("woff"), url("../fonts/CeraProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraProMedium.eot");
  src: url("../fonts/CeraProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraProMedium.woff") format("woff"), url("../fonts/CeraProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraProBold.woff") format("woff"), url("../fonts/CeraProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreamsRegular.eot");
  src: url("../fonts/CaviarDreamsRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CaviarDreamsRegular.woff") format("woff"), url("../fonts/CaviarDreamsRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreamsBold.eot");
  src: url("../fonts/CaviarDreamsBold.eot?#iefix") format("embedded-opentype"), url("../fonts/CaviarDreamsBold.woff") format("woff"), url("../fonts/CaviarDreamsBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.section__title {
  font-family: "Cera Pro";
  font-size: 48px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #487996;
}

.hero {
  padding-top: 92px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 104px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 190px;
    padding-bottom: 100px;
  }
}

.section {
  padding-bottom: 40px;
}
@media screen and (min-width: 1440px) {
  .section {
    padding-bottom: 100px;
  }
}

.section--padding-bottom {
  padding-bottom: 60px;
}
@media screen and (min-width: 1440px) {
  .section--padding-bottom {
    padding-bottom: 80px;
  }
}

.section-main__hero {
  padding-top: 92px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section-main__hero {
    padding-top: 104px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .section-main__hero {
    padding-top: 188px;
    padding-bottom: 120px;
  }
}

.section-main {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section-main {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .section-main {
    padding-bottom: 120px;
  }
}

.section-main--padding-bottom {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section-main--padding-bottom {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .section-main--padding-bottom {
    padding-bottom: 100px;
  }
}

.section__title-primary {
  font-family: "Cera Pro";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .section__title-primary {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1440px) {
  .section__title-primary {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    text-transform: uppercase;
  }
}

.section__title-secondary {
  font-family: "Cera Pro";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .section__title-secondary {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1440px) {
  .section__title-secondary {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    text-transform: uppercase;
  }
}

.section__title-xs-font {
  font-family: "Cera Pro";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .section__title-xs-font {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1440px) {
  .section__title-xs-font {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    text-transform: uppercase;
  }
}

.section-main__hero-title {
  font-family: "Caviar Dreams";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #2b2b2b;
}
@media screen and (min-width: 768px) {
  .section-main__hero-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1440px) {
  .section-main__hero-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.17;
    text-transform: uppercase;
  }
}

/*=================== FOOTER =========================*/
.footer {
  background-color: #f5f5fa;
}
.footer__img {
  width: 192px;
  height: 48px;
}
.footer__logo {
  margin-bottom: 19px;
}

.footer-nav {
  margin-bottom: 24px;
}
.footer-nav__item:not(:last-child) {
  margin-bottom: 8px;
}

.social {
  margin-bottom: 24px;
}
.social__item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__wrapper {
  text-align: center;
}

.contacts__text {
  margin-bottom: 8px;
}

.contacts__mail {
  margin-bottom: 24px;
}

.contacts__text,
.footer-nav__link,
.social__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.26;
  font-style: normal;
  font-family: "CeraPro";
  color: #2b2b2b;
}

.tel__item:not(:last-child) {
  margin-bottom: 8px;
}

.tel__link,
.mail__link {
  font-family: "CeraPro";
  font-style: normal;
  color: #487996;
}

@media screen and (max-width: 767px) {
  .footer__wrapper {
    padding: 32px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    padding: 32px 0px;
  }
  .footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer__content {
    display: flex;
  }
  .footer-nav {
    text-align: start;
    margin-bottom: 0;
    margin-right: 52px;
  }
  .social {
    text-align: start;
    margin-bottom: 0;
  }
  .contacts__wrapper {
    text-align: end;
    flex: 1 1 auto;
  }
}
@media screen and (min-width: 1440px) {
  .footer__wrapper {
    display: flex;
    padding: 40px 0px;
  }
  .footer__logo {
    margin-right: 277px;
    margin-bottom: 0;
  }
  .social {
    margin-right: 161px;
  }
}/*# sourceMappingURL=index.css.map */