// ----------- base & utils -----------
@import './base/common';
@import './base/reset';
@import './utils/vars';
@import './utils/mixins';
@import './utils/visually-hidden';

// ----------- components ------------
@import './components/container';
@import './components/section';
@import './components/button';
@import './components/video';

// ------------ layouts --------------
@import './layouts/take-order-hero';
@import './layouts/—Åontacts';
@import './layouts/model-examples';
@import './layouts/footer';
