<section class="section">
    <div class="order__wrap-form container">
        <div class="order">
    <h2 class="order__title">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>
    <form class="order__form">
        <div class="order__form-name">
        <input
        class="order__input"
        type="text"
        name="user-name"
        id="user-name"
        placeholder=" "
        required
      />
      <label class="order__label" for="user-name">Ім’я</label>
      </div>
      <div class="order__form-name">
        <input
        type="email"
        class="order__input"
        name="user-email"
        id="user-email"
        placeholder=" "
        required
      />
      <label class="order__label" for="user-email">Email</label>
      </div>
      <select class="form__select" name="user-choise" id="user-choise">
        <option value="pet">Поліетилен</option>
        <option value="hdpe">Поліетилен із високою щільністю</option>
        <option value="pp">Поліпропілен</option>
      </select>
      <select class="form__select" name="user-choise" id="user-choise">
        <option value="300">300 мікрон</option>
        <option value="200">200 мікрон</option>
        <option value="100">100 мікрон</option>
        <option value="question">Труднощі у виборі - ми допоможемо</option>
      </select>
      <select class="form__select" name="user-choise" id="user-choise">
        <option value="print" selected>Колір</option>
        <option value="red">Червоний</option>
        <option value="white">Білий</option>
        <option value="yelow">Жовтий</option>
        <option value="blue">Синій</option>
      </select>

      <div class="order__textaria">
        <label class="order__label-text" for="user-text">Повідомлення</label>
        <textarea
          class="order__text"
          name="user-text"
          id="user-text"
          placeholder="Залишіть своє повідомлення"
        ></textarea>
        <label class="atatch" for="atatch">
          <svg class="svg" width="21" height="20">
            <use href="./images/symbol-defs.svg#icon-atatch"></use>
          </svg>
        </label>
        <input
          class="form__label-file visually-hidden"
          type="file"
          id="atatch"
        />
        <p class="textaria__text">
        *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
      </p>
      </div>
      <button type="submit" class="form__button">Відправити</button>
    </form>
  </div>

  <div class="contacts">
    <div class="contacts__wrap">
    <div class="contacts__tel">
      <h2 class="contacts__title">ТЕЛЕФОНИ</h2>
      <ul class="contacts__list">
        <li class="contacts__item">+38 (095) -73-84-551</li>
        <li class="contacts__item">+38 (098) -00-25-235</li>
      </ul>
    </div>
    <div class="contacts__email">
      <h2 class="contacts__title">Email</h2>
      <p class="contacts__pmail">3dfreedom.info@gmail.com</p>
    </div>
    </div>
    <div class="contacts__time">
        <h2 class="contacts__title">Робочий час</h2>
        <ul class="contacts__list">
          <li class="contacts__item">Пн-пт:</li>
          <li class="contacts__item">з 8:00 до 19:00</li>
        </ul>
        <ul class="contacts__list">
          <li class="contacts__item">Сб, Нд:</li>
          <li class="contacts__item">з 10:00 до 17:00</li>
        </ul>
  </div>
  </div>
</section>
