<div class="modeling">
    <section class=" section modeling-creations">
        <ul class="modeling-creations__item">
            <h3 class="section__pre-title">Способи створення <br> моделі:</h3>
            <li class="modeling-creations__content ">
                <div class="block"></div> 3D сканування
            </li>
            <li class="modeling-creations__content ">
                <div class="block"></div> На основі фотографій з доданими розмірами
            </li>
            <li class="modeling-creations__content ">
                <div class="block"></div> За ескізами з розмірами
            </li>
            <li class="modeling-creations__content ">
                <div class="block"></div> За вашим кресленням
            </li>
            <li class="modeling-creations__content ">
                <div class="block"></div> По вже існуючому прототипу шляхом зняття розмірів
            </li>
    
    
        </ul>
    
    
    </section>
    <section class="section__bg">
        <p class="modeling-creations__background">аркрчв</p>
    </section>
</div>
