<div class="modeling">
    <section class=" section modeling-creations">
        <h3 class="section__pre-title">Способи створення <br> моделі:</h3>
        <ul class="modeling-creations__item">
            
            <li class="modeling-creations__content ">
                <div class="block"> 3D сканування</div>
            </li>
            <li class="modeling-creations__content ">
                <div class="block"> На основі фотографій з доданими розмірами</div>
            </li>
            <li class="modeling-creations__content ">
                <div class="block"> За ескізами з розмірами</div>
            </li>
            <li class="modeling-creations__content ">
                <div class="block"> За вашим кресленням</div>
            </li>
            <li class="modeling-creations__content ">
                <div class="block"> По вже існуючому прототипу шляхом зняття розмірів</div>
            </li>
    
    
        </ul>
    
    
    </section>
    <section class="section__bg">
        <p class="modeling-creations__background">аркрчв</p>
    </section>
</div>
