.section {
    padding-top: 60px;
    padding-bottom: 60px;
}
body {
    font-family: 'Cera Pro', sans-serif;
    font-style: normal
}

section {
    @include desktop {
        padding-left: 149px;
        padding-right: 149px;
    }
}

.order__wrap {
    @include desktop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
    }
}

.order {
    margin-bottom: 40px;
    @include mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    @include desktop {
        margin-bottom: 0;
    }

}

.order__title {
    @include fonts(700, 18, 23, null, uppercase);
    margin-bottom: 28px;
    color: $secondaryTextColor;

    @include mobile {
        text-align: center;
    }

    @include tablet {
        @include fonts(700, 24, 30, null, uppercase);
        text-align: center;
    }
    @include desktop {
        @include fonts(700, 36, 45, null, uppercase);
        text-align: start;
        margin-bottom: 44px;
    }
}

.order__form {
    @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.order__form-name {
    position: relative;
    margin-bottom: 44px;
}

.order__input {
    width: 280px;
    border: none;
    outline: none;
    border-bottom: 1px solid #487996;
    padding-bottom: 4px;
    color: $primaryTextColor;

    @include mobile {
        width: 400px;
    }

    @include tablet {
        width: 400px;
    }
    @include desktop {
        width: 555px;
    }
}

.order__input:focus + .order__label,
.order__input:not(:placeholder-shown) + .order__label {
    transform: translateY(-30px);
    @include fonts(400, 14, 20);
}

.order__label-text {
    @include fonts(400, 16, 20);
    color: #2B2B2B;
    @include desktop {
        @include fonts(400, 18, 20);
        }
}

.order__label {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    @include fonts(400, 16, 20);
    color: #2B2B2B;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fonts 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    @include desktop {
            @include fonts(400, 18, 20);
        }
}

.order__text {
    width: 280px;
    height: 199px;
    margin-top: 4px;
    border-radius: 50px 0;
    border: 1px solid #487996;
    padding: 22px 20px;
    resize: none;
    margin-bottom: 4px;
    &:focus,
    &:hover {
        border-color: #2B2B2B;
    }

    @include mobile {
        width: 400px;
        height: 199px;
    }
    @include desktop {
        width: 555px;
    }
}

.order__textaria {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
    & textarea::placeholder {
        color: #CDCDCD;
    }
    @include desktop {
        margin-bottom: 24px;
        }

}


.atatch {
    position: absolute;
    content: "";
    bottom: 75px;
    left: 242px;

    @include mobile {
        bottom: 55px;
        left: 360px;
    }
    @include desktop {
        left: 515px;
        bottom: 35px;
    }
}

.textaria__text {
    @include fonts(400, 16, 20);
    padding-right: 70px;
    width: 280px;
    color: #CDCDCD;
    @include mobile {
        padding-right: 20px;
        width: 400px;
    }

    @include tablet {
        width: 400px;
        padding-right: 20px;
    }
    @include desktop {
        @include fonts(400, 18, 20);
        width: 555px;
    }
}

.form__button {
    @include fonts(700, 16, 24, 0.01 , uppercase);
    width: 280px;
    height: 56px;
    border: none;
    cursor: pointer;
    background-color: $secondaryBgColor;
    color: $secondaryTextColor;
    border-radius: 30.5px;
    box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: black;
    }
    @include mobile {
        display: block;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    @include tablet {
        margin-right: 0;
        width: 175px;
        height: 55px;
    }
    @include desktop {
        @include fonts(700, 18, 24, 0.01, uppercase);
        margin-right: 0;
        width: 175px;
        height: 55px;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include mobile {
            align-items: center;
            justify-content: center;
        }
    @include tablet {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
    }
    @include desktop {
        flex-direction: column;
        justify-content: center;
        gap: 68px;
    }
}

.contacts__tel {
    margin-bottom: 24px;
    @include desktop {
        margin-bottom: 0;
    }
}

.contacts__wrap {
    display: block;
    @include mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    @include tablet {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
            text-align: start;
            flex-direction: row;
        }
    @include desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 68px;
    }
}

.contacts__time {
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        }
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }
}


.contacts__title {
    display: flex;
    @include fonts(700, 18, 23);
    color: #487996;
    margin-bottom: 8px;
    @include mobile {
            justify-content: center;
        }
    @include tablet {
            flex-direction: row;
            justify-content: flex-start;
    }
    @include desktop {
        @include fonts(700, 36, 45);
        margin-bottom: 18px;
    }
}

.contacts__pmail {
    @include fonts(400, 16, 20);
    color: #2B2B2B;
    @include desktop {
        @include fonts(400, 18, 20);
    }
}

.contacts__item {
    @include fonts(400, 16, 20);
    text-transform: capitalize;
    color: #2B2B2B;
    @include tablet {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
    @include desktop {
        @include fonts(400, 18, 20);
        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }
}

.contacts__time >.contacts__list {
    @include mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    @include tablet {
        align-items: flex-end;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

