<!--================== MORE PHOTO SECTION ================-->

<section class="section-main--padding-bottom">
  <div class="container container--more-photo" id="gallery">
    <h2 class="section__title-primary">БІЛЬШЕ ФОТО</h2>
    <ul class="more-photo">
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-1-desk.jpg    1x,
              ./images/more-photo/galery-1-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)" />
          <source
            srcset="
              ./images/more-photo/galery-1-tab.jpg    1x,
              ./images/more-photo/galery-1-tab@2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/more-photo/galery-1-mob.jpg    1x,
              ./images/more-photo/galery-1-mob@2x.jpg 2x
            "
            media="(max-width: 767px)" />

          <img src="./images/more-photo/galery-1-desk.jpg" alt="3д моделі"
        /></picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-2-desk.jpg    1x,
              ./images/more-photo/galery-2-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-2-tab.jpg    1x,
              ./images/more-photo/galery-2-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-2-mob.jpg    1x,
              ./images/more-photo/galery-2-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img src="./images/more-photo/galery-2-desk.jpg" alt="Архітектура" />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-3-desk.jpg    1x,
              ./images/more-photo/galery-3-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-3-tab.jpg    1x,
              ./images/more-photo/galery-3-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-3-mob.jpg    1x,
              ./images/more-photo/galery-3-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img src="./images/more-photo/galery-3-desk.jpg" alt="Робот" />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-4-desk.jpg    1x,
              ./images/more-photo/galery-4-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-4-tab.jpg    1x,
              ./images/more-photo/galery-4-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/more-photo/galery-4-desk.jpg" alt="Череп" />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-5-desk.jpg    1x,
              ./images/more-photo/galery-5-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-5-tab.jpg    1x,
              ./images/more-photo/galery-5-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/more-photo/galery-5-desk.jpg" alt="Танк" />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-6-desk.jpg    1x,
              ./images/more-photo/galery-6-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-6-tab.jpg    1x,
              ./images/more-photo/galery-6-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/more-photo/galery-6-desk.jpg" alt="Лампа" />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-7-desk.jpg    1x,
              ./images/more-photo/galery-7-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-7-tab.jpg    1x,
              ./images/more-photo/galery-7-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            src="./images/more-photo/galery-7-desk.jpg"
            alt="Спортивна машина"
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-8-desk.jpg    1x,
              ./images/more-photo/galery-8-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-8-tab.jpg    1x,
              ./images/more-photo/galery-8-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/more-photo/galery-8-desk.jpg" alt="Башня" />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-9-desk.jpg    1x,
              ./images/more-photo/galery-9-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-9-tab.jpg    1x,
              ./images/more-photo/galery-9-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/more-photo/galery-9-desk.jpg" alt="Нічник гриб" />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-10-desk.jpg    1x,
              ./images/more-photo/galery-10-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-10-tab.jpg    1x,
              ./images/more-photo/galery-10-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/more-photo/galery-10-desk.jpg" alt="Аерозоль" />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-11-desk.jpg    1x,
              ./images/more-photo/galery-11-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-11-tab.jpg    1x,
              ./images/more-photo/galery-11-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/more-photo/galery-11-desk.jpg" alt="Кібертрак" />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-photo/galery-12-desk.jpg    1x,
              ./images/more-photo/galery-12-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/more-photo/galery-12-tab.jpg    1x,
              ./images/more-photo/galery-12-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/more-photo/galery-12-desk.jpg" alt="Вазон" />
        </picture>
      </li>
    </ul>
    <svg class="more-photo__load-icon" width="45" height="45">
      <use href="./images/icons/sprite.svg#icon-more-photo-loader"></use>
    </svg>

    <!--======== Backdrop ========-->
    <div class="backdrop"></div>
  </div>
</section>
