 <!--================== MORE PHOTO SECTION ================-->

<section class="section-main--padding-bottom">
    <div class="container">        
        <h2 class="section__title-primary">БІЛЬШЕ ФОТО</h2>
        <ul class="more-photo">
            <li class="more-photo__item"></li>
            <li class="more-photo__item"></li>
            <li class="more-photo__item"></li>
            <li class="more-photo__item"></li>
            <li class="more-photo__item"></li>
            <li class="more-photo__item"></li>
            <li class="more-photo__item"></li>
            <li class="more-photo__item"></li>
            <li class="more-photo__item"></li>
            <li class="more-photo__item"></li>
            <li class="more-photo__item"></li>
            <li class="more-photo__item"></li>
        </ul>
        <svg class="more-photo__load-icon" width="45" height="45"><use href="./images/icons/sprite.svg#icon-more-photo-loader"></use></svg>
       
        <!--======== Backdrop ========-->
        <div class="backdrop">
            
        </div>
    </div>
</section>