
.modeling-creations {
    margin-top: 60px;
}
    
    


.modeling-creations__content {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25em;

    color: #2B2B2B;

    margin-top: 16px;
   
}


.list {
    list-style: none;
}


   

.modeling-creations__list{
    width: 100%;
    background-size: 280px 164px;
    background: no-repeat;
    background-image:
     url(/src/images/modeling-creation/bg-creations-jpg.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .modeling-creations {
                background-image: url(/src/images/modeling-creation/bg-creations-2x.jpg);
            }
        }
    
        @include tablet {
           
            flex: 1 1;
            justify-content: space-between;
            background-image:
                url(/src/images/modeling-creation/bg-creations-tab-jpg.jpg);
    
            background-size: 246px 144px;
            background-position:right ;
        
                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .modeling-creations {
                        background-image:
                            url(/src/images/modeling-creation/bg-creations-tab-2x.jpg);
                    }
                }
            }
        
          @include desktop {
            
            padding-left: 149px;
            padding-right: 149px;
            margin-right: 0;
            background-size: 555px 301px;
            background-position: right 149px top -60px;
            background-image:
             url(/src/images/modeling-creation/bg-creations-desk-jpg.jpg);
                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .modeling-creations {
                        background-image:
                            url(/src/images/modeling-creation/bg-creations-desk-2x.jpg);
                    }
                }
        
        
        
        
            }
    

   /* @media screen and(min-width:1440px) {
        width: 1376px;
      margin-right: 0;
      background-size: 555px 301px;
      background-repeat: no-repeat;
      background-position: right 50vw;
      background-image:
         url(/src/images/modeling-creation/bg-creations-desk-jpg.jpg);
    
        
    
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .modeling-creations {
                    background-image:
                        url(/src/images/modeling-creation/bg-creations-desk-2x.jpg);
                }
            }
    
    }*/
}
/*.modeling-creations__background{
   min-width: 280px;
    min-height: 164px;
    margin-top: 40px;
    flex: 1 1;
    
    background-size: 280px 164px;
    
        background: no-repeat;
        background-image:
            url(/src/images/modeling-creation/bg-creations-jpg.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .modeling-creations {
                background-image: url(/src/images/modeling-creation/bg-creations-2x.jpg);
            }
        }
    
        @media screen and(min-width:768px) {
            margin-left: 34px;
            margin-right: 0;
        
           justify-content: space-between;
            background-image:
                url(/src/images/modeling-creation/bg-creations-tab-jpg.jpg);
    
            background-size: 246px 144px;
            /*background-position: left 50vw;
    
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .modeling-creations {
                    background-image:
                        url(/src/images/modeling-creation/bg-creations-tab-2x.jpg);
                }
            }
        }
    
       @media screen and(min-width:1440px) {
            margin-right: 0;
            background-image:
                url(/src/images/modeling-creation/bg-creations-desk-jpg.jpg);
    
            background-size: 555px 301px;
    
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .modeling-creations {
                    background-image:
                        url(/src/images/modeling-creation/bg-creations-desk-2x.jpg);
                }
            }
    
    
    
    
        }
}*/

.section__pre-title{
    font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.277em;
        text-transform: uppercase;
    
        color: #487996;
 @media screen and(min-width:768px) {
        width: 648px;
        height: 30px;
        font-size: 24px;
        line-height: 1.25em;
    }
 @media screen and(min-width:1440px) {
       font-size: 36px;
       line-height: 1.62em;
       margin-top: 100px;
    }    
}
h3 {

    font-weight: 700;
    font-size: 18px;
    line-height: 1.277em;
    text-transform: uppercase;

    color: #487996;
}
.block{
   /* display: block;
    width: 7px;
    height: 7px;
    background: #487996;
    border-radius: 3px 0px;
    justify-content: center;*/
   justify-content: flex-start;
    

}
.block::before{
  content: url(/src/images/modeling-creation/Rectangle\ 1.jpg);
  color: #487996;
  border-radius: 3px 0px;
  /*padding-right: 8px;*/
  justify-content: center;
}
/*.block::after{
    
    display: block;
    width: 7px;
    height: 7px;
    
    position: absolute;
    
   
    
    
    
}*/
.modeling-creations>container{
    position: relative;
}
.model-creat__dec63{
    position: absolute;
     top: 61;
     right:-15;
     width: 74px;
     height: 74px;
     box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
     border-radius: 72px;
     
    @include tablet {
            display: none;
        }

}
.model-creat__dec19 {
    position: absolute;
    top: 129;
    left:-17;
    width: 74px;
    height: 74px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
    
    @include tablet {
            display: none;
        }

}
.model-hero__dec60 {
    @include tablet {
        position: absolute;
        top: 84;
        right: 32;
        width: 71px;
        height: 74px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 0px 35px;
        
    }

    
        @include desktop{
            position: absolute;
                top: 153;
                right: 31;
                width: 137px;
                height: 144px;
                box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
                border-radius: 72px 0px;
                

        }

}

