/*=================== HEADER =========================*/

.header {
  position: relative;

  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &::before {
    // content: '';
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100px;
    // z-index: 2;
  }
  &__wrapper {
    // position: relative;
    display: flex;
    height: 72px;
  }

  &__logo {
    z-index: 3;
  }

  &__img {
    width: 101px;
    height: 25px;
  }
}

.page__link {
  @include fonts(400, 18, 20.92);

  font-family: 'CaviarDreams';
  color: $primaryTextColor;
}

.sub-page__link {
  @include fonts(400, 16, 18.59);

  font-family: 'CaviarDreams';
  color: $primaryTextColor;
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
  z-index: 4;
  @include fonts(700, 14, 17.73);

  font-family: 'CaviarDreams';
  color: #bdbdbd;
}
.close-mobile-menu-btn,
.open-mobile-menu-btn,
.open-mobile-phone-btn {
  display: inline-flex;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 100;
}

.contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__link {
  font-family: 'CeraPro';
  font-style: normal;
  color: $secondaryTextColor;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
  }

  .header__wrapper {
    position: relative;
    padding: 20px 0px;
    align-items: center;
  }

  .header__logo {
    margin-right: 23px;
    position: relative;
    z-index: 5;
  }

  .open-mobile-menu-btn {
    margin-right: 45px;
    z-index: 3;
  }

  .open-mobile-phone-btn {
    margin-right: 24px;
    z-index: 4;
  }
 .close-mobile-menu-btn{
 margin-bottom: 55px;
  
 }
  .contacts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding-top: 112px;
    text-align: center;
    z-index: 3;
    opacity: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    pointer-events: none;
  }
  .contacts.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .contacts__icon {
    display: none;
  }
  .decor1,
  .decor2,
  .decor3 {
    position: absolute;
    width: 74px;
    height: 74px;

    z-index: 2;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  }

  .decor1 {
    left: -20px;
    top: 0;
    border-radius: 0px 50px 50px 0px;
  }

  .decor2 {
    right: -20px;
    top: 0;
    border-radius: 50px 0px 0px 50px;
  }

  .decor3 {
    left: -50px;
    top: 295px;
    border-radius: 0px 0px 30px 0px;
  }
}
@media screen and (max-width: 1399px) {
  .page__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding-top: 24px;
    text-align: center;
    z-index: 4;
    opacity: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    pointer-events: none;
  }

  .page__nav.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .page__link {
    @include fonts(700, 24, 30.17);
    text-transform: uppercase;
    font-family: 'CeraPro';
    color: $secondaryTextColor;
  }

  .page__link--active {
    color: transparent;

    -webkit-text-stroke: 1px $secondaryTextColor;
  }

  .sub-page__link {
    @include fonts(500, 24, 30.17);
    font-family: 'CeraPro';
    color: $secondaryTextColor;
  }
  .sub-page__list {
    // position: relative;

    display: block;
    left: 0;
    top: 18px;
    padding-bottom: 12px;
  }

  .sub-page__item {
    position: relative;
  }

  .sub-page__item::before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 3px 0px 3px 0px;
    background-color: $secondaryTextColor;
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 4px;
  }

  .page__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .sub-page__item:not(:last-child) {
    margin-bottom: 24px;
    margin-top: 20px;
  }
}

@include tablet {
  .header__wrapper {
    padding: 32px 0px;
    align-items: center;
  }

  .header__logo {
    margin-right: auto;
    z-index: 5;
  }

  .header__img {
    width: 125px;
    height: 31px;
  }
  //
  .contacts {
    margin-left: 40px;
    z-index: 5;
  }

  .select {
    margin-left: 100px;
  }
    .close-mobile-menu-btn {
      margin-bottom: 55px;
  
    }
  .open-mobile-menu-btn{
    z-index: 3;
  }
  .open-mobile-phone-btn {
    display: none;
  }

  .contacts__icon {
    margin-right: 4px;
  }
}

@include desktop {
  .header {
    &__wrapper {
      padding: 40px 0px;
      position: relative;
      z-index: 2;
      display: flex;

      align-items: center;
    }

    &__img {
      width: 192px;
      height: 48px;
    }

    &__logo {
      margin-right: 258px;
    }
  }

  .page__nav {
    display: block;
    z-index: 3;
  }

  .page__item {
    position: relative;
  }

  .page__list {
    display: flex;
  }

  .page__item:not(:last-child) {
    margin-right: 56px;
  }

  .page__item:nth-child(2) {
    margin-right: 70px;
  }

  .sub-page__list {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    padding-top: 5px;
  }

  .sub-page__item:not(:last-child) {
    margin-bottom: 4px;
  }

  .open-mobile-menu-btn,
  .open-mobile-phone-btn {
    display: none;
  }

  .select {
    margin-left: 130px;
    margin-right: auto;
  }

  .arrow {
    position: absolute;
    right: -12px;
    top: 10px;

    width: 0;
    height: 0;
    border-bottom: 4px solid #008cef;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;

    transition: all 0.3s ease 0s;
  }

  .page__item:hover .sub-page__list {
    display: block;
  }

  .contacts__icon {
    margin-right: 8px;
  }
  .close-mobile-menu-btn{
    display: none;
  }
}
