.modeling-hero {
    padding-top: 40px;
    padding-bottom: 40px;
   
   

}
.modeling-hero__item{
    margin-left: 0;
    @include tablet{
        /*padding-left: 32px;
        padding-right: 32px;*/
    }
    @media screen and(min-width: 1140px){
       /* padding-left: 149px;*/
    }
   
    
}

.modeling-hero__title {
    font-family: 'Cera Pro';

    font-weight: 700;
    font-size: 24px;
    line-height: 1.25em;

    color: #487996;

    @media screen and(min-width:768px) {
        font-size: 36px;
        line-height: 1.25em;
       min-width: 648px;
        min-height: 45px;
    }

    @media screen and(min-width:1440px) {
        font-size: 48px;
        line-height: 1.25em;
    }
}

.modeling-hero__list {
    @media screen and(min-width:768px) {
        width: 515px;
        
    }

    @media screen and(min-width:1440px) {
        display: flex;
        font-size: 18px;
        line-height: 1.277px;
        gap: 72px;
    }
}

.modeling-hero-list__text{
    font-family: 'Cera Pro';
    font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 1.25em;
    
   color: #2B2B2B;

  margin-top: 16px;
  @include desktop{
    font-size: 18px;
    line-height: 1.277em;
    display: flex;    
    min-width:515px ;
    
  }
   
}

.modeling-hero>.container{
    position: relative;
}
.model-hero__dec12{
    position: absolute;
    top: 185;
    left: -29;
    width: 74px;
    height: 74px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 35px 0px;
    
    @include tablet{
        display:none;
    }
}

.model-hero__dec5 {
    @include tablet{
      position: absolute;
      top: 118;
      left: 32;
      width: 74px;
     height: 71px;
     box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 0px 35px;
     
    }
        @include desktop {
            display: none;
        }

}
.model-hero__dec58 {
    @include tablet {
        position: absolute;
        top: -22;
       right: 32;
        width: 71px;
        height: 64px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 35px 0px 0px;
        
        transform: rotate(180deg);
    }

    @include desktop {
        display: none;
    }

}
.model-hero__dec3 {
    @include desktop {
        position: absolute;
        top: 0;
        left: 35;
        width: 82px;
        height: 78px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 72px 0px;
        
       
    }

    

}
.model-hero__dec61{
    @include desktop {
        position: absolute;
        top: -32;
       right: 32;
        width: 144px;
        height: 37px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
         border-radius: 0px 0px 72px 0px;
        transform: rotate(90deg);
        
    }
        



}

